.page-template-page-ppc-landing {
    p.large {
        font-size: 22px;
    }
    #header-top_right,
    #header-top_mobile {
        display:none !important;
    }
    .container {
        max-width:$screen-xl;
        width:100%;
        padding: 0 60px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
        display: flex;
        @media screen and (max-width:$screen-xl) {
            padding:0 50px ;
        }
        @media screen and (max-width: $screen-sm) {
            padding: 0 10% ;
        }
        &.wide {
            max-width: 90%;
            padding: 0 60px;
            @media screen and (max-width:$screen-lg) {
                max-width:100%;
            }
        }
        &.skinny {
            padding:0 10%;
            @media screen and (max-width:$screen-sm) {
                padding:0 60px;
            }
            @media screen and (max-width:$screen-xs) {
                padding:0 30px;
            }
        }
    }

    header {
        background:none !important;

        &.scrolled {
            background:$dkblue !important;
        }
        
        .custom-logo {
            max-width: 223px !important;
        }
    }

    .header-sub {
        display:none;
    }

    section {
        padding: 80px 0;
        @media screen and (max-width: $screen-sm) {
            padding: 60px 0;
        }
        @media screen and (max-width: $screen-xs) {
            padding: 40px 0;
        }
        &#header {
            background-size: cover;
            background-position: center center;
            padding:230px 0 80px 0;
            margin-top: 0;
            background-color: $dkblue;
            
            @media screen and (max-width: $screen-xxs) {
                padding-top: 200px;
                background-image: none !important;

                .mobile-image {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    height: 170px;
                    background-size: cover;
                    background-position: center center;
                }

                .spacer-60 {
                    display:none;
                }
            }

            .header-cta {
                display:flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    margin: 0 50px 0 0 !important;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            
            @media screen and (max-width: $screen-xxs) {
                .header-cta {
                    display:flex;
                    justify-content: flex-start;
                    p {
                        max-width: 50%;
                        margin-bottom:0 !important;
                    }
                    .btn {
                        padding: 0 20px;
                    }
                }
            }
        }
        &#about {
            .container {
                .columns {
                    align-items: center;
                }
            }
            
            #attorney-img {
                .attorney_blocks {
                    width: 100%;
                    justify-content: flex-start;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .attorney-img {
                        width: 31%;
                        margin: 0;

                        @media screen and (max-width:$screen-xxs) {
                            width:75%;
                        }
                    }

                    .attorney-box {
                        width: auto;
                        display: flex;
                        flex-wrap: wrap;
                        width: 31%;
                        justify-content: center;
                        padding: 10px;
                        background: white;
                        box-sizing: border-box;
                        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);

                        @media screen and (max-width:$screen-ipad) {
                            width: 48%;
                        }

                        @media screen and (max-width:$screen-xs) {
                            width: 100%;
                        }

                        &:hover {
                            p {
                                text-decoration: underline;
                            }
                        }

                        .attorney-img {
                            width: 100%;
                            margin: 0;
                        }

                        p {
                            font-weight: bold;
                            padding: 15px 0 10px !important;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
        &#testimonials {
            
            h2, p {
                color:$white;
            }

            .testimonial_author {
                font-size:15px;
            }
        }
        &#awards {
            padding:40px 0;
            .columns {
                align-items: normal;
                .column-full {
                    justify-content: center;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    flex-direction: row;

                    .award-img {
                        display: block;
                        max-height: 100px;
                        width: auto;
                        margin: 5px 20px;

                        img {
                            max-height: 100px;
                        }
                    }
                }
            }
        }

        &#results {
            .container {
                .columns {
                    .column-33 {
                        &.result {
                            p {
                                margin-bottom: 0 !important;

                                &.large {
                                    margin-bottom: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .gform_wrapper {
            .gform_required_legend {
                font-size: 12px !important;
                padding-bottom: 15px !important;
                display: block;
                font-weight: 600;
                font-family: $hind;
                margin-bottom: 0 !important;
            }

            .gfield_label {
                display: inline-block;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 8px;
                padding: 0;
                font-family: $hind;
                font-weight: 500;
            }

            input.large,
            textarea.small {
                width: 100%;
                background: none;
                border: 1px solid $dkblue;
                padding: 12px;
                box-sizing: border-box;
            }

            input[type="submit"] {
                padding: 10px 20px;
                background: none;
                font-family: $hind;
                text-transform: uppercase;
                margin-top: 20px;
                border:1px solid $blk;
                color:$blk;

                &:hover {
                    background:$dkblue;
                    color:$white;
                }
            }
        }

        .footer-cta-form {
            .input {
                input,
                textarea {
                    width: 100%;
                    margin:0;
                }
                .label {
                    margin-bottom: 10px;
                }
            }
        }

        &#footer-cta {
            .container {
                .columns {
                    align-items: center;
                    
                    .column-50 {
                        p {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    // font styles, misc styling
    .container {
        .columns {
            p {
                margin-bottom: 30px;
            }
            .testimonial-img {
                max-width: 110px;
            }
            .stars {
                color: #FFD038;
                margin: 30px 0 15px;
                display: block;
                font-size: 16px;
                letter-spacing: 2px;
            }
        }
    }
    .btn {
        display:inline-flex;
        justify-content: center;
        align-items: center;
        padding:0 50px;
        text-decoration:none;
        font-family: $hind;
        line-height: 100%;
        height:60px;
        box-sizing: border-box;
        font-size: 16px;
        cursor:pointer;
        background:$red;
        color:$white;
        font-weight: bold;
        transition: .2s ease all;
        &:hover {
            background:$red;
            transition: .2s ease all;
            text-decoration: underline;
        }
    }
    .footer-cta-form {
        display: block;
        background: #fff;
        height: 100%;
        width: 100%;
        padding: 10px 40px 30px;
        box-sizing: border-box;
        position: relative;
        border-radius: 0;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);


        @media screen and (max-width:$screen-md) {
            width: 100%;
            margin-left: 0;
            padding: 40px 40px 25px;
            margin-top: 40px;
        }
    }
    
    #page-footer {
        .custom-logo {
            max-width: 223px;
        }
    }
    footer {
        display:none;
    }
    #bottom-right-black-bubble-invite-container {
        display: none !important;
      }
}
