.page-template-page-ppc-landing {
    p.large {
        font-size: 22px;
    }
    #header-top_right,
    #header-top_mobile {
        display:none !important;
    }
    .container {
        max-width:$screen-xl;
        width:100%;
        padding: 0 60px;
        z-index: 1;
        position: relative;
        box-sizing: border-box;
        display: flex;
        @media screen and (max-width:$screen-xl) {
            padding:0 50px ;
        }
        @media screen and (max-width: $screen-sm) {
            padding: 0 10% ;
        }
        &.wide {
            max-width: 90%;
            padding: 0 60px;
            @media screen and (max-width:$screen-lg) {
                max-width:100%;
            }
        }
        &.skinny {
            padding:0 10%;
            @media screen and (max-width:$screen-sm) {
                padding:0 60px;
            }
            @media screen and (max-width:$screen-xs) {
                padding:0 30px;
            }
        }
    }

    header {
        .custom-logo {
            max-width: 223px;
        }
    }

    .header-sub {
        display:none;
    }

    section {
        padding: 80px 0;
        @media screen and (max-width: $screen-sm) {
            padding: 60px 0;
        }
        @media screen and (max-width: $screen-xs) {
            padding: 40px 0;
        }
        &#header {
            background-size: cover;
            background-position: center center;
            padding:80px 0;
            margin-top: 95px;
            background-color: $dkblue;
            @media screen and (max-width: $screen-xxs) {
                padding-top: 200px;
                background-image: none !important;
                .mobile-image {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    height: 170px;
                    background-size: cover;
                    background-position: center center;
                }
                .spacer-60 {
                    display:none;
                }
            }
            .header-cta {
                display:flex;
                justify-content: flex-start;
                p {
                    max-width: 190px;
                    margin-right:10%;
                }
            }
            @media screen and (max-width: $screen-xxs) {
                .header-cta {
                    display:flex;
                    justify-content: flex-start;
                    p {
                        max-width: 50%;
                        margin-bottom:0 !important;
                    }
                    .btn {
                        padding: 0 20px;
                    }
                }
            }
        }
        &#about {
            #attorney-img {
                .attorney_blocks {
                    width: 100%;
                    justify-content: space-around;
                    display: flex;
                    flex-wrap: wrap;
                    .attorney-img {
                        width: 31%;
                        margin: 0;
                        @media screen and (max-width:$screen-xxs) {
                            width:75%;
                        }
                    }
                    a {
                        width: auto;
                        display: flex;
                        width: 31%;
                        justify-content: flex-end;
                        @media screen and (max-width:$screen-xxs) {
                            width:75%;
                        }
                        .attorney-img {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }
        &#testimonials {
            .testimonial_author {
                font-size:15px;
            }
        }
        &#awards {
            padding:40px 0;
            .columns {
                align-items: normal;
                .column-full {
                    justify-content: center;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    flex-direction: row;
                    .award-img {
                        display: block;
                        max-height: 100px;
                        width: auto;
                        margin: 5px 20px;
                    }
                }
            }
        }
        .footer-cta-form {
            .input {
                input,
                textarea {
                    width: 100%;
                    margin:0;
                }
                .label {
                    margin-bottom: 10px;
                }
            }
        }
    }

    // font styles, misc styling
    .container {
        .columns {
            p {
                margin-bottom: 30px;
            }
            .testimonial-img {
                max-width: 110px;
            }
            .stars {
                color: #FFD038;
                margin: 30px 0 15px;
                display: block;
                font-size: 24px;
            }
        }
    }
    .btn {
        display:inline-flex;
        justify-content: center;
        align-items: center;
        padding:0 50px;
        text-decoration:none;
        font-family: $opensans;
        line-height: 100%;
        height:60px;
        box-sizing: border-box;
        font-size: 16px;
        cursor:pointer;
        background:$orange;
        color:$white;
        font-weight: bold;
        transition: .2s ease all;
        &:hover {
            background:$orange;
            transition: .2s ease all;
            text-decoration: underline;
        }
    }
    .footer-cta-form {
        display: block;
        background: $white;
        height: 100%;
        width: 100%;
        padding: 60px 70px 55px;
        box-sizing: border-box;
        position: relative;
        border-radius: 12px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba($blk,0.9);
        -moz-box-shadow: 0px 0px 30px 0px rgba($blk,0.9);
        box-shadow: 0px 0px 30px 0px rgba($blk,.9);
        @media screen and (max-width:$screen-md) {
            width: 100%;
            margin-left: 0;
            padding: 40px 40px 25px;
            margin-top: 40px;
        }
        .frm_form_fields {
            input[type="text"] {
                border: none !important;
                box-shadow: none !important;
                border-bottom: 1px solid $dkblue !important;
                border-radius: 0 !important;
                padding: 12px 0 25px !important;
                color:$dkblue;
                font-size: 18px;
                font-family: $opensans;
                &::placeholder {
                    color:$dkblue;
                    font-size: 18px;
                    font-family: $opensans;
                    opacity:1;
                }
            }
            .frm_visible {
                opacity: 0;
            }
            .frm_submit button {
                width: 100% !important;
                padding: 20px !important;
                margin-top: 30px !important;
                margin-bottom: 0 !important;
                border: none !important;
                box-shadow: none !important;
                color: $white !important;
                font-family: $opensans;
                text-transform: uppercase;
                font-size: 16px !important;
                letter-spacing: .1em;
                border-radius: 0 !important;
                font-weight: bold;
                @include orange-gradient;
            }
        }
        .frm_error {
            color: $orange !important;
            padding: 10px 0 0 !important;
            position: relative;
            display: block;
            margin-bottom: -12px !important;
        }
        .frm_error_style {
            background-color: transparent;
            border: none !important;
            border-radius: 4px;
            color: $orange;
            font-size: 14px;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            font-size: 18px;
            font-family: $opensans;
            line-height: 120%;
            font-weight: bold;
        }
    }
    #page-footer {
        .custom-logo {
            max-width: 223px;
        }
    }
    footer {
        display:none;
    }
    #bottom-right-black-bubble-invite-container {
        display: none !important;
      }
}
