/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$screen-xxl: 1660px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-ipad: 1024px;
$screen-md: 992px;
$tab-port: 820px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers
$container-max-width: $screen-xxl;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$grayblue: #131543;
$dkblue: #012346;
$ltblue: #7D99B5;
$orange: #FF5601;
$red: #CB0829;
$red200: #8C011B;
$brightred: #E11738;
$burgundy: #580011;
$ltgray: #F7F7F7;
$mdgray: #EFEFEF;
$gray250: #677888;
$gray-lines: #E6E6E6;
$gray-underline: #CBCBCB;
$gray50: #EDF1F7;
$gray200: #92A0B2;

// Link Attributes
// $link-color: $lt-red;
// $link-hover-color: $grey;
$link-transition-speed: .15s;
$trans: 0.3s ease all;

// Font Weight
$normal: 400;
$bold: 700;
$black: 900;

// Typography

// Hind
@font-face {
    font-family: "Hind";
    src: url("../fonts/hind/Hind-Light.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Hind";
    src: url("../fonts/hind/Hind-Regular.woff2") format("woff2");
    font-weight: $normal;
    font-display: swap;
}
@font-face {
    font-family: "Hind";
    src: url("../fonts/hind/Hind-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Hind";
    src: url("../fonts/hind/Hind-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Hind";
    src: url("../fonts/hind/Hind-Bold.woff2") format("woff2");
    font-weight: $bold;
    font-display: swap;
}

// PT Sans
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans/PTSans-Regular.woff2") format("woff2");
    font-weight: $normal;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans/PTSans-Italic.woff2") format("woff2");
    font-weight: $normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans/PTSans-Bold.woff2") format("woff2");
    font-weight: $bold;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: $bold;
    font-display: swap;
    font-style: italic;
}

// Zilla Slab
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-Light.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-LightItalic.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-Regular.woff2") format("woff2");
    font-weight: $normal;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-Italic.woff2") format("woff2");
    font-weight: $normal;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-Bold.woff2") format("woff2");
    font-weight: $bold;
    font-display: swap;
}
@font-face {
    font-family: "Zilla Slab";
    src: url("../fonts/zilla-slab/ZillaSlab-BoldItalic.woff2") format("woff2");
    font-weight: $bold;
    font-display: swap;
    font-style: italic;
}





$icomoon: 'Icomoon';
$opensans: 'Open Sans', sans-serif;
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto Mono', monospace;

$hind: "Hind", sans-serif;
$ptsans: "PT Sans", sans-serif;
$zilla: "Zilla Slab", serif;


// $body-font-family: $overpass;
// $body-text-color: $dk-blue;
$body-line-height: 130%;